<p id="notice"><%= notice %></p>

<p>
  <strong>Content comment:</strong>
  <%= @comment.content_comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Gossip:</strong>
  <%= @comment.gossip %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
