<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gossip.title %>
</p>

<p>
  <strong>Content gossip:</strong>
  <%= @gossip.content_gossip %>
</p>

<p>
  <strong>User:</strong>
  <%= @gossip.user.name %>
</p>

<%= link_to 'Edit', edit_gossip_path(@gossip) %> |
<%= link_to 'Back', gossips_path %>
